.skills-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.row {
  width: 100%;
  height: 33.33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 75px; /* half the width and height */
  background-color: #fe79ec;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.circle:hover {
  transform: translateX(-10px) rotate(5deg);
}

.diamond:hover {
  transform: translateX(-10px) rotate(5deg);
}

.box {
  width: 200px;
  aspect-ratio: 1;
  clip-path: polygon(100.00% 50.00%,82.84% 58.80%,93.30% 75.00%,74.04% 74.04%,75.00% 93.30%,58.80% 82.84%,50.00% 100.00%,41.20% 82.84%,25.00% 93.30%,25.96% 74.04%,6.70% 75.00%,17.16% 58.80%,0.00% 50.00%,17.16% 41.20%,6.70% 25.00%,25.96% 25.96%,25.00% 6.70%,41.20% 17.16%,50.00% 0.00%,58.80% 17.16%,75.00% 6.70%,74.04% 25.96%,93.30% 25.00%,82.84% 41.20%);
  background-color: #fe79ec;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.box:hover {
  transform: translateX(-10px) rotate(5deg);
}

.triangle {
  width: 0;
  height: 0;
  border-top: 50px solid #e6502e;
  border-right: 50px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
}

.diamond {
  width: 150px;
  height: 150px;
  background-color: #fdc222;
  transform: rotate(45deg);
}

.shape {
  width: 150px;
  height: 150px;
  background-color: #4c55cc;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
  display: inline-flex;
  margin-right: 20px;
}

.shape-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.shape:hover {
  transform: translateX(-10px) rotate(5deg);
}
